
div *{
    
    text-align: center;
    font-family: "Roboto";

    
}
#container{
    max-width: 80%;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: auto;
    background-color: hsla(208, 7%, 43%, 0.63);
}
body{
    background-image: url(images/kim.jpg);
    background-size: cover;
    text-align: center;
    height: 100vh;
}
header{
    display: block;
    background-color: lightcoral;
    font-size: 25px;
    font-weight: bold;
}
div p{
    background-color: lightgray;
    font-size: 20px;
}
div h1{
    background-color: lightgreen;
}
main{
    max-width: 500px;
}
#btnIncrement{
    background-color: lightsalmon;
}
#btnSave{
    background-color: lightseagreen;
}

button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: large;
}